.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7vh;
  width: 100%;
  background: #691B33;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 100%;
  cursor: pointer;
}

.headerTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFF;
}

.iconoBlanco {
  fill: #FFF;
}